.detail {
  padding-top: 25px;
  padding-bottom: 25px;
}

.detail__img--item {
  
  margin-bottom: 15px;
}



.detail__description--title {
  margin: 0;
  color: $active-text-color;
  font-size: 17px;
  font-weight: 600;

  margin-bottom: 10px;
}

.detail__description--votes {
  display: flex;
  justify-content: flex-start;
color: $disabled-text-color;
  background-color: $primary-color;
}

.detail__votes--title {
  padding: 10px 55px 10px 13px;
  font-size: 13px;
}

.detail__votes--value {
  padding: 10px 0;
  font-size: 13px;
  
}

.detail__description--popularity {
  display: flex;
  justify-content: flex-start;
  color: $disabled-text-color;
}

.detail__popularity--title {
  padding: 10px 55px 10px 13px;
  font-size: 13px;
}

.detail__popularity--value {
  padding: 10px 0;
  font-size: 13px;
}

.detail__description--name {
  display: flex;
  justify-content: flex-start;
  color: $disabled-text-color;
  background-color: $primary-color;
}

.detail__name--title {
  padding: 10px 26px 10px 13px;
  font-size: 13px;
}

.detail__name--value {
  font-size: 13px;
  padding: 10px 0;
}

.detail__description--genre {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  color: $disabled-text-color;
}

.detail__genre--title {
  padding: 10px 97px 10px 13px;
  font-size: 13px;
}

.detail__genre--value {
  padding: 10px 0;
  font-size: 13px;
}

.detail__description--about {
  color: $active-text-color;
  font-size: 17px;
  font-weight: 600;

  padding-bottom: 6px;
  padding-left: 5px;
}

.detail__description--text {
  color: $disabled-text-color;

  font-size: 14px;
  font-weight: 500;
  color: $thumbs-background-color;
  line-height: 18px;
  padding: 0 10px 15px 5px;
}

.detail__buttons--favorite,
.detail__buttons--queue {
  border: none;
  cursor: pointer;
  color: $disabled-text-color;
  background-color: transparent;
  font-weight: 600;
  font-size: 13px;
}

.detail__buttons--favorite,
.detail__buttons--queue:focus {
  outline: none;
}

// .detail__buttons--favorite {
//   padding-right: 15px;
// }

.detail__description--buttons{
  display: flex;
  justify-content: space-between;
}

.detail__button{
  padding: 10px 3px;
  border-radius: 5px;
  flex-basis: 45%;
  text-align: right;
  position: relative;
  background-color: transparent;
}

.detail__button:before{
  position: absolute;
  left: 0;
}

.detail__buttons--favorite:before{
  content: url('/images/detailsVideo.png');
}

.detail__buttons--queue:before{
  content: url('/images/detailsCalendar.png');
}

.detail__button--active{
  background-color: $primary-color;
  color: $item-text-color;
}



.videoBtn {
  padding-left: 5px;
}

@media (min-width: 768px) {
  .detail {
    display: flex;
    justify-content: space-between;
    //padding: 20px 0;
    background-color: #fff;
  }

  .detail--nonVisible{
    display: none;
  }

  

  .detail__img--item {
    display: block;
    width: 100%;
    height: 100%;
  }

  .detail__description {
    width: 340px;
  }

  .detail__description--votes,
  .detail__description--popularity,
  .detail__description--name,
  .detail__description--genre {
    width: 340px;
  }

  .detail__description--title {
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: 700;
  }

  .detail__description--genre {
    padding-bottom: 20px;
  }

  .detail__description--text {
    padding-bottom: 30px;
    
  }
}

@media (min-width: 1024px) {
  .detail--nonVisible  {
    display: none;
  }
    
  .detail__img {
    width: 428px;
    height: 630px;
  }

  .detail__description {
    width: 452px;
    margin-right: 36px;
  }

  .detail__description--votes,
  .detail__description--popularity,
  .detail__description--name,
  .detail__description--genre {
    width: 452px;
  }

  .detail__description--genre {
    padding-bottom: 26px;
  }
}
